# 10. Model Inference

In [ ]:
#load
with open('list_kat.txt', 'r') as file_1:
  list_kat = json.load(file_1)

with open('list_num.txt', 'r') as file_2:
  list_num = json.load(file_2)

with open('scaler.pkl', 'rb') as file_3:
  scaler = pickle.load(file_3)

with open('ohe.pkl', 'rb') as file_4:
  ohe = pickle.load(file_4)

with open('model_SVM.pkl', 'rb') as file_5:
  model_svm = pickle.load(file_5)

In [ ]:
#data test
data_inf = {
    'limit_balance' : 5430000,
    'sex' : 2,
    'education_level' : 1,
    'marital_status' : 3,
    'age' : 35,
    'pay_0' : 2,
    'pay_2' : 4,
    'pay_3' : 2,
    'pay_4' : 1,
    'pay_5' : -1,
    'pay_6' : -1,
    'bill_amt_1' : 2231,
    'bill_amt_2' : 1000,
    'bill_amt_3' : 9000,
    'bill_amt_4' : 4000,
    'bill_amt_5' : 3000,
    'bill_amt_6' : 6000,
    'pay_amt_1' : 0,
    'pay_amt_2' : 2000,
    'pay_amt_3' : 1000,
    'pay_amt_4' : 5000,
    'pay_amt_5' : 3000,
    'pay_amt_6' : 2000
}

data_inf = pd.DataFrame([data_inf])
data_inf

,limit_balance,sex,education_level,marital_status,age,pay_0,pay_2,pay_3,pay_4,pay_5,...,bill_amt_3,bill_amt_4,bill_amt_5,bill_amt_6,pay_amt_1,pay_amt_2,pay_amt_3,pay_amt_4,pay_amt_5,pay_amt_6
0,5430000,2,1,3,35,2,4,2,1,-1,...,9000,4000,3000,6000,0,2000,1000,5000,3000,2000

In [ ]:
#Split categorical and numerical
data_inf_num = data_inf[list_num]
data_inf_kat = data_inf[list_kat]

In [ ]:
#Feature Scaling and Encoding
data_inf_scaled = scaler.transform(data_inf_num)
data_inf_encoding = ohe.transform(data_inf_kat)
nama_fitur=ohe.get_feature_names_out()

In [ ]:
data_inf_encoding=data_inf_encoding.toarray()

In [ ]:
data_inf_final =  np.concatenate([data_inf_scaled,data_inf_encoding], axis = 1)
data_inf_final

array([[ 2.93888889e+01,  7.69230769e-02,  2.00000000e+00,
         4.00000000e+00,  2.00000000e+00,  1.00000000e+00,
        -1.00000000e+00, -1.00000000e+00, -3.29241962e-01,
        -3.49330502e-01, -2.10309261e-01, -2.93799206e-01,
        -3.18727406e-01, -2.53665472e-01, -5.57904853e-01,
        -2.50000000e-02, -2.36686391e-01,  9.25830158e-01,
         3.80021716e-01,  1.06452456e-01,  0.00000000e+00,
         1.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  1.00000000e+00]])

In [ ]:
model_svm.predict(data_inf_final)

c:\Users\umicorn\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

array([1], dtype=int64)